---
import { SITE_DATA } from "../data/siteData.ts";
const { business } = SITE_DATA;
---

<a
  href={`tel:${business.phone}`}
  target="_blank"
  rel="noopener noreferrer"
  class="inbdigital__wha-float"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="64"
    height="64"
    viewBox="0 0 64 64"
    id="phone"
  >
    <defs>
      <path id="path-1" d="M.06 64V.04H64V64z"></path>
    </defs>
    <g
      id="Page-1"
      fill="none"
      fill-rule="evenodd"
      stroke="none"
      stroke-width="1"
    >
      <g id="phone">
        <mask id="mask-2" fill="#fff">
          <use xlink:href="#path-1"></use>
        </mask>
        <path
          id="Fill-1"
          fill="#fff"
          d="M41.107 35.619a1.066 1.066 0 0 0-.964.229c-1.556 1.329-3.705 2.745-4.632 2.891-6.217-3.039-9.689-8.872-9.82-9.978-.076-.622 1.349-2.806 2.988-4.582.207-.225.312-.531.283-.836-.417-4.794-5.418-7.146-5.629-7.242a1.063 1.063 0 0 0-.635-.085c-5.774.958-6.643 4.318-6.677 4.458-.048.196-.04.399.021.589 6.887 21.366 21.199 25.327 25.903 26.629.363.101.661.181.888.256a1.087 1.087 0 0 0 .788-.046c.144-.066 3.544-1.667 4.375-6.891.037-.227 0-.463-.105-.668-.074-.144-1.852-3.528-6.784-4.724"
          mask="url(#mask-2)"></path>
        <path
          id="Fill-3"
          fill="#004969"
          d="M47.996 41.011c-.831 5.224-4.231 6.825-4.375 6.891a1.087 1.087 0 0 1-.788.046c-.227-.075-.525-.155-.888-.256-4.704-1.302-19.016-5.263-25.903-26.629a1.081 1.081 0 0 1-.021-.589c.034-.14.903-3.5 6.677-4.458.214-.037.436-.009.635.085.211.096 5.212 2.448 5.629 7.242.029.305-.076.611-.283.836-1.639 1.776-3.064 3.96-2.988 4.582.131 1.106 3.603 6.939 9.82 9.978.927-.146 3.076-1.562 4.632-2.891.266-.227.62-.318.964-.229 4.932 1.196 6.71 4.58 6.784 4.724.105.205.142.441.105.668zM32 0C14.327 0 0 14.327 0 32c0 17.673 14.327 32 32 32 17.673 0 32-14.327 32-32C64 14.327 49.673 0 32 0z"
          mask="url(#mask-2)"></path>
      </g>
    </g>
  </svg>

  <!-- <svg
    xmlns="https://www.w3.org/2000/svg"
    class="inbdigital__wha-float_icon"
    width="30"
    height="30"
    fill="#fff"
    viewBox="0 0 24 24"
  >
    <path
      d="m.057 24 1.687-6.163a11.87 11.87 0 0 1-1.587-5.946C.16 5.335 5.495 0 12.05 0a11.82 11.82 0 0 1 8.413 3.488 11.82 11.82 0 0 1 3.48 8.414c-.003 6.557-5.338 11.892-11.893 11.892a11.9 11.9 0 0 1-5.688-1.448zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648zm11.387-5.464c-.074-.124-.272-.198-.57-.347s-1.758-.868-2.031-.967c-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165s-.347.223-.644.074-1.255-.462-2.39-1.475c-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074 2.095 3.2 5.076 4.487c.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413s.248-1.29.173-1.414"
    ></path>
  </svg> -->
</a>

<style>
  .inbdigital__wha-float {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    width: 60px;
    height: 60px;
    display: inline-flex;
    color: var(--primary);
    background-color: var(--primary);
    text-align: center;
    border-radius: 50px;
    box-shadow: 2px 2px 3px var(--primary);
    transition: all 0.3s ease-in-out;
    outline: none;
    cursor: pointer;
  }

  .inbdigital__wha-float::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid var(--secondary);
    transform: translate(-50%, -50%);
    animation: ringAnimation 1.5s infinite;
  }

  @keyframes ringAnimation {
    0% {
      width: 50px;
      height: 50px;
      opacity: 1;
    }

    100% {
      width: 120px;
      height: 120px;
      opacity: 0;
    }
  }

  .inbdigital__wha-float .inbdigital__wha-float_icon {
    margin: auto;
  }
</style>
